@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: (--font-family);
    overflow-y: hidden;
}

.p-float-label input {
    width: 100%;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: #ec4a0a;
    background-image: none;
}

@layer components {
    .inputpw {
        @apply h-10 w-full flex justify-stretch drop-shadow-sm;
    }

    .h3 {
        @apply text-2xl font-bold text-gray-800;
    }
    .sectionTitle {
        @apply text-lg font-medium text-[#3F395A];
    }
    .sectionspace {
        @apply p-3 pb-0 mr-3 h-full;
    }
    .secparent {
        @apply max-w-lg min-w-min w-1/4 grow;
    }
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-left: 1rem;
}

.p-treenode-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: -0.01em;

    /* Gray/400 */
}

.p-treenode-label p:hover {
    text-decoration-line: none !important;
}

.p-tree {
    padding: 0;
    padding-top: 12px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    border-radius: 0;
    margin-top: 16px;
}
.p-treenode-content {
    padding: 8px 8px !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    width: 1rem;
    height: 1rem;
}

.p-tree-toggler-icon.pi.pi-fw {
    font-size: 0.5rem;
    color: #3f395a;
}

.carddescription {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to display */
    line-height: 1.5; /* line height for each line */
}
.label-xb p {
    display: block;
    white-space: nowrap;
    width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Menu */

.p-menu {
    background: #ec4a0a;
}

.p-inputtext {
    width: 100%;
}

.p-sidebar-right .p-sidebar {
    width: 50%;
    height: 100%;
}
