@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: (--font-family);
}

.p-float-label input {
    width: 100%;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: #ec4a0a;
    background-image: none;
}

@layer components {
    .inputpw {
        @apply h-10 w-full flex justify-stretch drop-shadow-sm;
    }

    .h3 {
        @apply text-2xl font-bold text-gray-800;
    }
    .sectionTitle {
        @apply text-lg font-medium text-[#3F395A];
    }
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-left: 1rem;
}

/* .p-treenode-content button {
    display: none;
} */

.carddescription {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to display */
    line-height: 1.5; /* line height for each line */
}
